<!DOCTYPE html>
<html>
<head>
    <title>MovieWeb</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        h1 {
            font-size: 36px;
            color: #333333;
            margin-bottom: 20px; /* Agregamos margen inferior para separar del input */
        }

        form {
            text-align: center;
        }

        .form {
            width: 100%;
        }

       #search {
            padding: 10px;
            width: 350px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 18px;
            margin-right: 10px;
        }

        button[type="submit"] {
            background-color: #0078d4;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        button[type="button"] {
            margin: 20px 0 0 0;
            background-color: lightslategray;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }

        button[type="button"]:hover {
            background-color: dimgrey;
        }

        #advanced {
            padding: 20px;
            display: none;
            width: 100%;
            justify-content: space-around;
            align-content: space-around;
            flex-wrap: wrap;
        }

        .advanced-items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 250px;
            align-content: center;
        }

        .advanced-container {
            flex: 1;
            min-width: 450px;
            min-height: 300px;
        }

        .advanced-item-checkbox {
            margin: 5px 0;
            width: 150px;
            text-align: start;
        }

        .advanced-item-checkbox input {
            margin-right: 5px;
        }

        textarea {
            width: 250px;
            height: 250px;
            border-radius: 5px;
            border-style: inset;
            border-width: 2px;
            resize: none;
            padding: 25px 25px 0 25px;
        }

        .inclusive-checkbox {
            text-align: center;
            padding-bottom: 20px;
        }

    </style>
    <script>
        window.onload = function() {
            const toggleButton = document.getElementById("advanced-button");
            const advanced = document.getElementById("advanced");
            const clear = document.getElementById("clear-button");
            const checkBoxes= document.querySelectorAll('input[type=checkbox]')
            toggleButton.addEventListener("click", function () {
                if (advanced.style.display === "none" || advanced.style.display === "") {
                    toggleButton.innerText = "Hide"
                    advanced.style.display = "flex"; // Show the div
                } else {
                    advanced.style.display = "none"; // Hide the div
                    toggleButton.innerText = "Advanced"
                }
            });
            clear.addEventListener("click", function () {
                checkBoxes.forEach(el => el.checked = false);
            });
        };
    </script>
</head>
<body>
<h1>MovieWeb</h1>
<div class="form">
    <form action="/buscar" method="GET">
        <select id="options" name="o">
            <option value="All" selected>All</option>
            <option value="Movies">Movies</option>
            <option value="Actors">Actors</option>
            <option value="Directors">Directors</option>
        </select>
        <input id="search" type="text" name="q" placeholder="Buscar películas, actores o directores..." />
        <button type="submit">Buscar</button>
        <div>
            <button id="advanced-button" type="button">Advanced</button>
            <button id="clear-button" type="button">Clear</button>
        </div>
        <div id="advanced">
            <div class="advanced-container">
                <div><h2>Genres</h2></div>
                <div class="inclusive-checkbox"><input type="checkbox" name="gi" id="genre-checkbox">Match Any</div>
                <div class="advanced-items">
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Adventure">Adventure
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Fantasy">Fantasy
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Animation">Animation
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Drama">Drama
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Horror">Horror
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Action">Action
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Comedy">Comedy
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="History">History
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Western">Western
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Thriller">Thriller
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Crime">Crime
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Documentary">Documentary
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Science Fiction">Science Fiction
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Mystery">Mystery
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Music">Music
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Romance">Romance
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Family">Family
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="War">War
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Foreign">Foreign
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="TV Movie">TV Movie
                    </div>
                </div>
            </div>
            <div class="advanced-container">
                <div><h2>Keywords</h2></div>
                <div class="inclusive-checkbox"><input type="checkbox" name="ki" id="keyword-checkbox">Match Any</div>
                <div class="advanced-items">
                    <textarea id="keyword-box" name="k" placeholder="Keywords: woman director, independent film, etc."></textarea>
                </div>
            </div>
            <div class="advanced-container">
                <div><h2>Language</h2></div>
                <div class="advanced-items">
                    <select id="languages" name="l">
                        <option value="All">All</option>
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                        <option value="es">Español</option>
                        <option value="de">Deutsch</option>
                        <option value="zh">普通话</option>
                        <option value="hi">हिन्दी</option>
                        <option value="ja">日本語</option>
                        <option value="it">Italiano</option>
                        <option value="cn">广州话 / 廣州話</option>
                        <option value="ru">Pусский</option>
                        <option value="ko">한국어조선말</option>
                        <option value="pt">Português</option>
                        <option value="da">Dansk</option>
                        <option value="sv">Svenska</option>
                        <option value="nl">Nederlands</option>
                        <option value="fa">فارسی</option>
                        <option value="he">עִבְרִית</option>
                        <option value="th">ภาษาไทย</option>
                        <option value="id">Bahasa Indonesia</option>
                        <option value="ro">Română</option>
                        <option value="cs">Český</option>
                        <option value="ar">العربية</option>
                        <option value="ta">தமிழ்</option>
                        <option value="af">Afrikaans</option>
                        <option value="hu">Magyar</option>
                        <option value="xx">No language</option>
                        <option value="no">Norsk</option>
                        <option value="nb">Norsk Bokmål</option>
                        <option value="pl">Polski</option>
                        <option value="sl">Slovenščina</option>
                        <option value="vi">Tiếng Việt</option>
                        <option value="tr">Türkçe</option>
                        <option value="is">Íslenska</option>
                        <option value="el">ελληνικά</option>
                        <option value="ky">кыргыз тили</option>
                        <option value="ps">پښتو</option>
                        <option value="te">తెలుగు</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
