<!DOCTYPE html>
<html>
<head>
    <title>MovieWeb</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        h1 {
            font-size: 36px;
            color: #333333;
            margin-bottom: 20px; /* Agregamos margen inferior para separar del input */
        }

        form {
            text-align: center;
        }

        .form {
            width: 100%;
        }

       #search {
            padding: 10px;
            width: 350px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 18px;
            margin-right: 10px;
        }

        button[type="submit"] {
            background-color: #0078d4;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        button[type="button"] {
            margin: 20px 0 0 0;
            background-color: lightslategray;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }

        button[type="button"]:hover {
            background-color: dimgrey;
        }

        #advanced {
            padding: 20px;
            display: none;
            width: 100%;
            justify-content: space-around;
            align-content: space-around;
            flex-wrap: wrap;
        }

        .advanced-items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 250px;
            align-content: center;
        }

        .advanced-container {
            flex: 1;
            min-width: 450px;
            min-height: 300px;
        }

        .advanced-item-checkbox {
            margin: 5px 0;
            width: 150px;
            text-align: start;
        }

        .advanced-item-checkbox input {
            margin-right: 5px;
        }

        textarea {
            width: 250px;
            height: 250px;
            border-radius: 5px;
            border-style: inset;
            border-width: 2px;
            resize: none;
            padding: 25px 25px 0 25px;
        }

    </style>
    <script>
        window.onload = function() {
            const toggleButton = document.getElementById("advanced-button");
            const advanced = document.getElementById("advanced");
            const clear = document.getElementById("clear-button");
            const checkBoxes= document.querySelectorAll('input[type=checkbox]')
            toggleButton.addEventListener("click", function () {
                if (advanced.style.display === "none" || advanced.style.display === "") {
                    toggleButton.innerText = "Hide"
                    advanced.style.display = "flex"; // Show the div
                } else {
                    advanced.style.display = "none"; // Hide the div
                    toggleButton.innerText = "Advanced"
                }
            });
            clear.addEventListener("click", function () {
                checkBoxes.forEach(el => el.checked = false);
            });
        };
    </script>
</head>
<body>
<h1>MovieWeb</h1>
<div class="form">
    <form action="/buscar" method="GET">
        <select id="options" name="o">
            <option value="All" selected>All</option>
            <option value="Movies">Movies</option>
            <option value="Actors">Actors</option>
            <option value="Directors">Directors</option>
        </select>
        <input id="search" type="text" name="q" placeholder="Buscar películas, actores o directores..." />
        <button type="submit">Buscar</button>
        <div>
            <button id="advanced-button" type="button">Advanced</button>
            <button id="clear-button" type="button">Clear</button>
        </div>
        <div id="advanced">
            <div class="advanced-container">
                <div><h2>Genres</h2></div>
                <div class="advanced-items">
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Adventure">Adventure
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Fantasy">Fantasy
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Animation">Animation
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Drama">Drama
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Horror">Horror
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Action">Action
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Comedy">Comedy
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="History">History
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Western">Western
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Thriller">Thriller
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Crime">Crime
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Documentary">Documentary
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Science Fiction">Science Fiction
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Mystery">Mystery
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Music">Music
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Romance">Romance
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Family">Family
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="War">War
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="Foreign">Foreign
                    </div>
                    <div class="advanced-item-checkbox">
                        <input type="checkbox" name="g" value="TV Movie">TV Movie
                    </div>
                </div>
            </div>
            <div class="advanced-container">
                <div><h2>Keywords</h2></div>
                <div class="advanced-items">
                    <textarea id="keyword-box" name="k" placeholder="Keywords: woman director, independent film, etc."></textarea>
                </div>
            </div>
            <div class="advanced-container">
                <div><h2>Language</h2></div>
                <div class="advanced-items">
                    <select id="languages" name="l">
                        <option value="All" selected>All</option>
                        <option value="English">English</option>
                        <option value="Svenska">Svenska</option>
                        <option value="Deutsch">Deutsch</option>
                        <option value="No language">No language</option>
                        <option value="日本語">日本語</option>
                        <option value="Français">Français</option>
                        <option value="Español">Español</option>
                        <option value="العربية">العربية</option>
                        <option value="Latin">Latin</option>
                        <option value="ភាសាខ្មែរ">ភាសាខ្មែរ</option>
                        <option value="Tiếng Việt">Tiếng Việt</option>
                        <option value="Türkçe">Türkçe</option>
                        <option value="ελληνικά">ελληνικά</option>
                        <option value="普通话">普通话</option>
                        <option value="Pусский">Pусский</option>
                        <option value="Gaeilge">Gaeilge</option>
                        <option value="广州话 / 廣州話">广州话 / 廣州話</option>
                        <option value="Magyar">Magyar</option>
                        <option value="עִבְרִית">עִבְרִית</option>
                        <option value="नेपाली">नेपाली</option>
                        <option value="සිංහල">සිංහල</option>
                        <option value="Italiano">Italiano</option>
                        <option value="Nederlands">Nederlands</option>
                        <option value="Suomi">Suomi</option>
                        <option value="Português">Português</option>
                        <option value="Gàidhlig">Gàidhlig</option>
                        <option value="فارسی">فارسی</option>
                        <option value="اردو">اردو</option>
                        <option value="Dansk">Dansk</option>
                        <option value="ภาษาไทย">ภาษาไทย</option>
                        <option value="Norsk">Norsk</option>
                        <option value="Shqip">Shqip</option>
                        <option value="Polski">Polski</option>
                        <option value="Íslenska">Íslenska</option>
                        <option value="Tagalog">Tagalog</option>
                        <option value="ਪੰਜਾਬੀ">ਪੰਜਾਬੀ</option>
                        <option value="हिन्दी">हिन्दी</option>
                        <option value="қазақ">қазақ</option>
                        <option value="български">български</option>
                        <option value="Kiswahili">Kiswahili</option>
                        <option value="Română">Română</option>
                        <option value="한국어조선말">한국어조선말</option>
                        <option value="Český">Český</option>
                        <option value="Slovenčina">Slovenčina</option>
                        <option value="Māori">Māori</option>
                        <option value="Esperanto">Esperanto</option>
                        <option value="Somali">Somali</option>
                        <option value="Afrikaans">Afrikaans</option>
                        <option value="isiXhosa">isiXhosa</option>
                        <option value="isiZulu">isiZulu</option>
                        <option value="ייִדיש">ייִדיש</option>
                        <option value="Català">Català</option>
                        <option value="српски">српски</option>
                        <option value="संस्कृतम्">संस्कृतम्</option>
                        <option value="Український">Український</option>
                        <option value="Hrvatski">Hrvatski</option>
                        <option value="Galego">Galego</option>
                        <option value="Српскохрватски">Српскохрватски</option>
                        <option value="Corsu">Corsu</option>
                        <option value="Kernewek">Kernewek</option>
                        <option value="བོད་ཡིག">བོད་ཡིག</option>
                        <option value="Bosanski">Bosanski</option>
                        <option value="پښتو">پښتو</option>
                        <option value="ᐃᓄᒃᑎᑐᑦ">ᐃᓄᒃᑎᑐᑦ</option>
                        <option value="Հայերեն լեզու">Հայերեն լեզու</option>
                        <option value="አማርኛ">አማርኛ</option>
                        <option value="нохчийн мотт">нохчийн мотт</option>
                        <option value="Eesti">Eesti</option>
                        <option value="كوردی">كوردی</option>
                        <option value="Diné bizaad">Diné bizaad</option>
                        <option value="монгол хэл">монгол хэл</option>
                        <option value="Faka-Tonga">Faka-Tonga</option>
                        <option value="বাংলা">বাংলা</option>
                        <option value="chiCheŵa">chiCheŵa</option>
                        <option value="seSotho">seSotho</option>
                        <option value="རྫོང་ཁ">རྫོང་ཁ</option>
                        <option value="Cymraeg">Cymraeg</option>
                        <option value="Wolof">Wolof</option>
                        <option value="ქართული">ქართული</option>
                        <option value="Brezhoneg">Brezhoneg</option>
                        <option value="தமிழ்">தமிழ்</option>
                        <option value="Bahasa Indonesia">Bahasa Indonesia</option>
                        <option value="മലയാളം">മലയാളം</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
